/*This CSS affects mainly the blog-template main page*/

body, div, h1,h2,h3,h4,h5,h6,p,ul,img{
    margin:0px;
    padding:0px;
}

 body{
    background-color: #b0c4de;
    height: 100%;
    position: absolute;
    font-family: Gill Sans, sans-serif;
    color: white;
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJcJ48kQZFqeeV_MmJ7NvYnF7vZcO5W3ekModr_3w2NDmciwA4ow");*/
 }

#main {
   border: 1px solid;
  position: relative;
  height: 100%;
  background-color: black;
  padding: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
p{
  position: relative;
   border: 1px solid;
   top: 400px;
}
header {
  /*border: 1px solid;*/
    position: relative;
    top: 70px;
    left: 200px;
    height: 0px;
    color: #FFF;
    /*background-color: black;*/
}

h1{
  position: relative;
  top: 10px;
  left: -5px;
}

nav{
  color: white;
   border: 1px solid;
  position: fixed;
  margin-top: 0px;
  padding-right: 0px;
  top: 30px;
  left: 450px;
}


li{
display: inline;
margin-left: 25px;
/*top: 10px;*/
}
a {
    color: white;
}


/*Social Media Nav position */
#socialindex{
    position: relative;
    top: 500px;
    left: 150px;
    /*top: 440px;*/
  /*  left: 10px;*/
}

#socialindex h3{
  position: relative;
  left: 30px;
}

/*control color of social media icons:*/
#socialindex i{
    position: absolute;
    color: silver;
}

#socialindex a{
  margin-right: 100px;
}



/*SocialBlog = social media icons:*/



/*Socialmedia icons position */
#profilepic {
    border-radius: 90px;

}

/*
#socialblog{
position: absolute;
    top: 440px;
    left: 840px;

}*/


/*#socialblog h3{

}*/

/*social media icon color:*/
#socialblog i{
    color: silver;
    position: absolute;
}

#socialblog a{
  margin-right: 100px;
}

.content {
    width: 650px;
    display: inline-block;
    vertical-align: top;
    padding: 50px;
    position: relative;
    top: 100px;
    left: 50px;
}

aside {
    width: 220px;
    padding: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 100px;
    left: 50px;
}

aside ul li{
    margin: 0 auto;
    list-style: none;

}

aside a {
  color: blue;
  padding: 10px;
}

.post {
    padding-bottom: 100px;
}

.post p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h1{
    font-family: cursive;
    font-size: 50px;
}
*/
