@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

html {
    margin: 0;
    padding: 0;
}

body {
    background: #CCC;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-size: 18px;
    line-height: 26px;

}

#wrapper {
    width: 960px;
    background: #FFF;
    margin: 0 auto;

}
.header {
    height: 300px;
    overflow: hidden;
}
.content {
    width: 650px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}
.sidebar {
    width: 220px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}
.header img {
    width: 100%;
}

.post {
    border-bottom: 1px solid #CCC;
}

h1 {

}

h2{
    font-weight: 900;
    margin-bottom: 0px;
}

h3{
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4{
    font-weight: 400;
    margin-top: 0px;
}
