


div #social {
    position: absolute;
    top: 400px;
    left: 500px;
}

#social img{
    position: absolute;
    top: 30px;
    height: 30px;
    width: 30px;
}


.content {
    width: 650px;
    display: inline-block;
    vertical-align: top;
    padding: 50px;
    position: relative;
    top: 200px;
    left: 50px;
}

aside {
    width: 220px;
    padding: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 200px;
    left: 50px;
}

aside ul li{
    margin: 0 auto;
    list-style: none;

}

aside a {
  color: blue;
  padding: 10px;
}

.post {
    padding-bottom: 100px;
}

.post p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


