body, div, h1,h2,h3,h4,h5,h6,p,ul,img{
    margin:0px;
    padding:0px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-size: 18px;
    line-height: 30px;
}

#wrapper {
    width: 100%;
    background: #FFF;
}

header {
    position: relative;
    top: 0px;
    left: 0px;
    height: 300px;
    color: #FFF;
    background-color: #036;

}

header h1 {
    font-weight: bold;
    width: 500px;
    position: absolute;
    top: 0px;
    left: 500px;
    padding-top: 260px;


}

header img{
    position: absolute;
    top: 100px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

nav{
  position: absolute;
  top: 300px;
  left: 420px;
}

nav ul li {
list-style: none;
float: left;
}


nav a {
  color: white;
  padding: 10px;
}


#socialindex{
    position: absolute;
    top: 450px;
    left: 500px;
}

#socialindex h3{
  position: relative;
  left: 30px;
}

#socialindex img{
    position: absolute;
    top: 25px;
    height: 30px;
    width: 30px;
}

#socialindex a{
  margin-right: 35px;
}

h2{
    font-weight: 900;
    margin-bottom: 0px;
}

h3{
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4{
    font-weight: 400;
    margin-top: 0px;
}